/*-------------------------------------Universal Properties-------------------------------------------*/
.btn-custom {
    background-color: #D8C4B6;
    border-color: #213555;
    border: 2px solid #213555;
    color: #213555;
    border-radius: 20px;
    transition: all 0.4s;
}

.btn-custom:hover {
    background-color: #213555;
    color: #D8C4B6;
}


/*-------------------------------------Home Page-------------------------------------------*/
body {
    /* background-image: url('/static/images/Man_holding_briefcase.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #cad2c5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: center;
}

.home-flexbox h3 {
    color: #354f52;
}

@media (max-width: 540px){
    /* body {
        background-image: url('/static/images/Office_table_and_chairs.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } */
}


/*-------------------------------------Navigation Bar-------------------------------------------*/
.navbar-light .navbar-nav .nav-link {  /*navbar links*/
    color: #cad2c5;
}

.navbar-light .navbar-nav .nav-link:first-child {  /*navbar 'home' link*/
    color: #cad2c5;
}

.navbar-light .navbar-brand {  /*navbar 'Jack's Recruitment Agency' link*/
    color: #cad2c5;
}

.navbar {
    background-color: #354f52;
}

.navbar-nav.flex-nowrap {  /*stop links words dropping down to another line when screen shrinks*/
    white-space: nowrap;
  }
