{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="about-container">
    <div class="about-content">
        <div class="center-header">
            <h1 class="thick-underline">About US</h1>
        </div>
        <div class="paragraph-container">
            <p>Welcome to <span>Jack's Recruitment Agency</span>, Australia's premier recruitment firm specializing in sourcing top-tier white-collar professionals for businesses nationwide. With over a decade of experience in the industry, we have been connecting exceptional talent with leading organizations since our establishment in 2010.
                
                At Jack's Recruitment Agency, we pride ourselves on our commitment to excellence and our dedication to finding the perfect fit for both employers and job seekers. Our team of highly skilled and experienced recruiters possesses an in-depth understanding of the market, allowing us to identify and attract the most qualified candidates for a wide range of industries and positions. Whether you're a company seeking to build a stellar workforce or an individual searching for your next career move, we are here to guide you every step of the way.
                
                As a medium-sized agency with a nationwide presence across Australia, we have developed an extensive network of professionals and clients, enabling us to offer tailored recruitment solutions that meet the unique requirements of each organization and candidate. Our personalized approach, combined with our comprehensive industry knowledge, ensures that we deliver exceptional results and foster long-term relationships with our clients.
            </p>
        </div>
    </div>
    <div class="image-container">
        <img class="about-image" src="{% static '/images/job_interview.jpg' %}" alt="job interview">
    </div>
</div>

{% endblock content %}