{% extends 'base.html' %}

{% block title %}Job Positions{% endblock %}

{% block content %}
<div class="center-header">
	<h1 class="text-center thick-underline">Job Positions</h1>
</div>

<div class="search-container">
	<form method="GET" action="{% url 'job_positions' %}">
		<input type="text" name="search" placeholder="Search...">
		<button type="submit" class="btn btn-custom">Keyword Search</button>
		<a href="{% url 'job_positions' %}" class="btn btn-custom">Refresh</a>
	</form>
</div>

{% if jobs %}

	{% for job in jobs %}
	<div class="jobs-card-container">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title"><a href="{% url 'job_details' job.id %}">{{ job.job_title }}</a></h3>
				<div class="company-location">
					<h5 class="card-subtitle">{{ job.company }}</h5>
					<h6 class="">{{ job.location }}</h6>
				</div>
				<p class="card-text">{{ job.job_summary }}</p>
				<p>Posted: <span class="text-muted">{{ job.posted }}</span></p>
				<p>Application Closing Date: <span class="text-muted">{{ job.closing_date }}</span></p>
			</div>
		</div>
	</div>
	{% endfor %}

{% else %}
	<div class="jobs-card-container">
		<div class="card">
			<div class="card-body text-center">
				<h3 class="card-title">No search results</h3>
				<p>Sorry, we don't currently have any jobs matching your search criteria.</p>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}