{% extends 'base.html' %}

{% block title %}Job Positions{% endblock %}

{% block content %}

<h1 class="text-center">Job Positions</h1>

<div class="search-container">
	<form method="GET" action="{% url 'job_positions' %}">
		<input type="text" name="search" placeholder="Search...">
		<button type="submit" class="btn btn-custom">Keyword Search</button>
		<a href="{% url 'job_positions' %}" class="btn btn-custom">Refresh</a>
	</form>
</div>

{% if jobs %}
<div class="job-position-container">
	{% for job in jobs %}
	<div class="card">
		<div class="card-body">
			<h3 class="card-title"><a href="{% url 'job_details' job.id %}">{{ job.job_title }}</a></h3>
			<h5 class="card-subtitle">{{ job.company }}</h5>
			<h6 class="mt-3">{{ job.location }}</h6>
			<p class="card-text">{{ job.job_details }}</p>
			<p>Posted: <span class="text-muted">{{ job.posted }}</span></p>
			<p>Application Closing Date: <span class="text-muted">{{ job.closing_date }}</span></p>
		</div>
	</div>
	{% endfor %}
</div>

{% else %}
<div class="job-position-container">
	<div class="card">
		<div class="card-body">
			<h3 class="card-title text-center">No search results</h3>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}