{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ job.job_title }}{% endblock %}

{% block content %}
<h2><b>{{ job.job_title }}</b></h2>
<hr>
<h5>{{ job.company }}</h5>
<br>
<h5>{{ job.location }}</h5>

<div>
	<p>{{ job.job_details }}</p>
</div>

<form method='post' enctype="multipart/form-data">
	{% csrf_token %}

	{% if user.is_authenticated %}

		{% if applied %}
			<p><b>You have already applied for this job!</b></p>
			<a href="{% url 'job_positions' %}" class="btn btn-primary">Back to Job Positions</a>
		{% else %}
			{{ apply_form | crispy }}
    		<button type="submit" href="{% url 'application_confirmed' job.id %}" class="btn btn-primary">Apply</button>
		{% endif %}

	{% else %}
		<a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary">Apply</a>
	{% endif %}


</form>

{% endblock %}