{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="center-header">
	<h1 class="text-center thick-underline">Update Profile</h1>
</div>
<div class="update-profile-container">
    <div class="update-form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form | crispy }}
            <button type="submit" class="btn btn-custom">Update profile</button>
            <a href="{% url 'user_profile' user.id %}" class="btn btn-custom">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}