{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="row justify-content-center m-5">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Password Reset Complete</h3>
                <p class="alert alert-success">Your password has successfully been changed</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-block">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}