{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {% if validlink %}
        Change Password
    {% else %}
        Reset Password
    {% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-center m-5">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                <h3 class="card-title text-center">Password Reset Confirm</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Change password</button>
                </form>
                {% else %}
                <h3 class="card-title text-center">Reset Password</h3>
                <div class="alert alert-danger" role="alert">
                    The link you have clicked on is invalid. Please click the link below and try again
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Reset password</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}